# leave blank to turn off demo mode
PUBLIC_DEMO_MODE=
# test key for hcaptcha, see https://docs.hcaptcha.com/#integration-testing-test-keys
PUBLIC_CAPTCHA_KEY=10000000-ffff-ffff-ffff-000000000001

# Direct requests to local instance. Leave blank to use external default
# PUBLIC_FAUCET_URL=http://localhost:5555/drip/web/
PUBLIC_FAUCET_URL=

# No need to edit these.
PUBLIC_ISSUE_LINK=https://github.com/frequency-chain/testnet-faucet/issues/new/choose
PUBLIC_FORUM="https://discord.com/channels/969001918460469250/969308337864867840"
