@font-face {
	font-family: "Newake";
	src: url("./style/indieground-newakefont-web/Newake-Font-Regular.eot");
	src:
		url("./style/indieground-newakefont-web/Newake-Font-Regular.woff") format("woff"),
		url("./style/indieground-newakefont-web/Newake-Font-Regular.otf") format("opentype"),
		url("./style/indieground-newakefont-web/Newake-Font-Regular.svg#filename") format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	@apply bg-teal text-black font-bold cursor-pointer;
	border: 1px solid transparent !important;
	padding: 0.6em 1.2em;
	transition: border-color 0.25s;
}

button:disabled {
	@apply bg-gray3 text-white !important;
}

button:hover {
	@apply opacity-75 !important;
}

@media (prefers-color-scheme: light) {
	:root {
		@apply text-black bg-white;
	}
}
.freq-btn {
	@apply w-full rounded-3xl font-bold border-0 text-normal md:text-md;
}

.btn-primary {
	@apply text-black bg-teal;
}

.btn-disabled {
	@apply text-white bg-gray3;
}

@layer components {
	/* Typeography */
	.title-h2 {
		@apply font-title text-[50px] leading-[1] tracking-wider md:text-[60px] lg:text-[64px];
	}

	.title-h3 {
		@apply font-title text-[40px] leading-[1] tracking-wider md:text-[40px] lg:text-[44px];
	}

	.title-h5 {
		@apply font-title text-[18px] leading-[1] tracking-wider sm:text-[20px] md:text-[22px] lg:text-[26px];
	}
	.body {
		@apply text-normal md:text-md;
	}
}

@layer base {
	.toast {
		@apply max-w-full text-wrap opacity-60 !important;
	}
	html {
		color-scheme: light dark;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		scroll-behavior: smooth;
	}

	body {
		@apply m-0 min-w-f320 min-h-[100vh] flex items-center bg-white text-normal;
	}

	button {
		@apply select-none;
	}

	::placeholder {
		@apply text-gray2 !important;
	}
}
