@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Unbounded:wght@700;800&display=swap");
@tailwind base;
@tailwind components;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #101015;
}

@media (min-width: 768px) {
  .background {
    background-image: url("$lib/assets/circle.svg"), url("$lib/assets/circle.svg"), url("$lib/assets/circle.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position-y: 10%, 73%, 50%;
    background-position-x:
      25%,
      -13%,
      115%;
    background-size: 20%, 20%, 30%;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.submit-btn {
  @apply btn w-full mt-6 rounded-3xl text-white;
  background-color: #282837;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-transform: none;
}

.submit-btn:disabled {
  background-color: #282837;
}

.faucet-card {
  background-color: #191924;
}

.card-title {
  font-family: "Unbounded", sans-serif;
  @apply text-white text-4xl;
  font-weight: 700;
}

.card-subtitle {
  @apply text-white opacity-70;
  font-weight: 400;
  font-size: 16px;
}

.dropdown a {
  color: white;
}

@tailwind utilities;
