chain:
  name: canvas

serviceAccount:
  name: canvas

server:
  secret:
    FAUCET_ACCOUNT_MNEMONIC: from-gitlab-ci-secret-variables
  config:
    RPC_ENDPOINT: "https://canvas-rpc.parity.io/"

bot:
  secret:
    MATRIX_ACCESS_TOKEN: from-gitlab-ci-secret-variables
  config:
    MATRIX_BOT_USER_ID: "@canvas_faucet:matrix.org"
    NETWORK_UNIT: "CAN"
