networks:
  faucet-e2e:
    external: true
services:
  faucet:
    extends:
      file: ../docker/docker-compose.yml
      service: faucet
    ports:
      - "${SMF_BACKEND_PORT}:${SMF_BACKEND_PORT}"
    env_file:
      - ./.env
    networks:
      - faucet-e2e
    extra_hosts:
      - "host.docker.internal:host-gateway"
