name: E2E
on:
  pull_request:
  push:
    branches:
      - main
      - rzadp/e2e-docker
jobs:
  e2e:
    timeout-minutes: 15
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3.3.0
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v3.5.1
        with:
          node-version: "16.10"
      - run: yarn install --network-concurrency 1 --frozen-lockfile
      - name: Bootstrap Polkadot and Matrix
        run: |
          chmod -R o+rwx ./e2e/matrix_data
          ./e2e/bootstrap.sh
      - name: Run the faucet bot and backend
        run: |
          docker-compose -f e2e/docker-compose.deployment.yml up -d
          ./e2e/wait_until.sh 'curl -s "127.0.0.1:5555"'
      - name: Run the E2E tests
        run: yarn test:e2e
      - name: Debug Polkadot logs
        if: failure()
        run: docker-compose -f e2e/docker-compose.infrastructure.yml logs polkadot
      - name: Debug Matrix logs
        if: failure()
        run: docker-compose -f e2e/docker-compose.infrastructure.yml logs matrix
      - name: Debug backend logs
        if: failure()
        run: docker-compose -f e2e/docker-compose.deployment.yml logs faucet-server
      - name: Debug bot logs
        if: failure()
        run: docker-compose -f e2e/docker-compose.deployment.yml logs faucet-bot
