name: E2E
on:
  pull_request:
  push:
    branches:
      - main
      - rzadp/teleport-test
jobs:
  e2e:
    timeout-minutes: 15
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3.3.0
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v3.5.1
        with:
          node-version: "16.10"
      - run: yarn install --network-concurrency 1 --frozen-lockfile
      - name: Download Polkadot and parachain binaries
        run: |
          wget --no-verbose https://github.com/paritytech/cumulus/releases/download/v0.9.380/polkadot-parachain
          wget --no-verbose https://github.com/paritytech/polkadot/releases/download/v0.9.38/polkadot
          chmod +x ./polkadot*
        working-directory: e2e
      - name: Run a local relaychain with a parachain using zombienet
        run: |
          export PATH=$(pwd):$PATH
          npx --yes @zombienet/cli@1.3.40 \
            --provider native spawn zombienet.native.toml \
            > polkadot.txt 2>&1 &
          source wait_until.sh 'curl -s "127.0.0.1:9933"'
          source wait_until.sh 'curl -s "127.0.0.1:9934"'
        working-directory: e2e
      - name: Bootstrap Matrix
        run: |
          chmod -R o+rwx ./e2e/matrix_data
          ./e2e/bootstrap.sh
      - name: Run the faucet bot and backend
        run: |
          docker-compose -f e2e/docker-compose.deployment.yml up -d
          ./e2e/wait_until.sh 'curl -s "127.0.0.1:5555"'
      - name: Run the E2E tests
        run: yarn test:e2e
      - name: Debug Polkadot logs
        if: failure()
        run: cat e2e/polkadot.txt
      - name: Debug Matrix logs
        if: failure()
        run: docker-compose -f e2e/docker-compose.infrastructure.yml logs matrix
      - name: Debug faucet logs
        if: failure()
        run: docker-compose -f e2e/docker-compose.deployment.yml logs faucet
